/*Quitamos márgenes y padding a todo*/
* {
    padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

/*Estilo del body*/

/*body{
	background-image: url("bannerPrincipal.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
*/
/*Fin del estilo del body*/

/*Estilo del header*/



/*Fin del estilo del header*/

/*Estilo del cuerpo de la página*/

#principal{
	margin-top: 20px;
	background-color: grey;
	width: 100%;
}

#divInicioSesion{
	background-color: white;
	border-radius: 7px;
}

/*Fin del estilo del cuerpo de la página*/