/*QUITAMOS MÁRGENES Y PADDING A TODO*/
* {
    padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

/*ESTILO DEL BODY*/

body{
	height: 100%;
}

/*FIN DEL ESTILO DEL BODY*/

/*ESTILO DEL CUERPO DE LA PÁGINA*/

#menuNavegacion{
	position: fixed;
	height: 100%;
}

#divTwitter, #divFacebook, #divInstagram{
	border: 1px solid black;
	border-radius: 5px;
	height: 100%;
	margin: 1px;
}

/*FIN DEL ESTILO DEL CUERPO DE LA PÁGINA*/

/*ESTILOS INDIVIDUALES*/

#botonIni{
	width: 100%;
}

.imgFooter{
	height: 35px;
	width: 100px;
	vertical-align: middle;
}

/*FIN DE LOS ESTILOS INDIVIDUALES*/