/*Quitamos márgenes y padding a todo*/
* {
    padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

body, html{
	margin: 0px;
	height: 100%;
	height: auto !important;
}

/*Estilo del body*/

body{
	background: rgba(255, 255, 51, 0.3) url('Img/rrssYellow.jpg') no-repeat fixed center;
	background-size: cover;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.colorFondo{
	background: rgba(255, 255, 51, 0.3);
	height: 100vh;
}

/*Fin del estilo del body*/

/*Estilo del header*/

#header{
	height: 45px;
	display: block;
}

/*Fin del estilo del header*/

/*Estilo del cuerpo de la página*/

.container-fluid{
	padding: 0px;
}

#principal{
	/*background-color: grey;*/
	margin-top: 125px;
	margin-right: 10%;
	margin-left: 10%;
	position: relative;
}

#fraseEmpresa{
	color: black;
/*	display: block;
	left: 0;
*/}

#divInicioSesion{
/*	display: inline-block;
	width: 330px;
	position: absolute;
*/
	right: 0;
	background-color: white;
	border-radius: 10px;
}

#footer{
	background-color: grey;
	height: 45px;
	position: fixed;
	bottom: 0;
}

/*Fin del estilo del cuerpo de la página*/

/*ESTILOS INDIVIDUALES*/

#botonIni{
	width: 100%;
}

/*FIN DE LOS ESTILOS INDIVIDUALES*/